::-webkit-scrollbar {
    display: none;
}
.mdl-layout__drawer{
    transform:translateX(250px);
}
.mdl-layout__drawer-button i{
    vertical-align: super;
    margin-top: 6px;
}
.mdl-layout__drawer-button{
    vertical-align: middle;
    border: 1px solid #fff;
    left: initial;
    top:28px;
    right: 50px;
    height: 35px;
    width: 35px;
}
.mdl-layout__header-row .mdl-navigation{
    margin:0 70px 0 0px !important;
}
.mdl-layout__drawer{
    left: initial;
    right: 0;
}
.mdl-layout-title__drawer{
    font-size: 26px;
    font-weight: 600;
    margin:15% 0 0 0;
    text-align: center;
}
.mdl-layout-title{
    font-size: 26px;
    font-weight: 600;
}
.mdl-layout__header-row .mdl-navigation__link{
    padding: 0 14px;
}
.mdl-layout__header-row .mdl-navigation__link span{
    font-weight: 600;
    font-size: 10px;
}
.mdl-layout__header{
    background: #37474f;
    box-shadow: none;
}
.mdl-layout__header-row{
    margin-top:2%;
}
.mdl-layout__header-row .mdl-navigation__link span:hover{
    padding-bottom:10px;
    border-bottom:3px solid #00e676;
}
.mdl-layout__content{
    background: #37474f;
}
#profile-main-container{
    margin: 0 4% 0 4%;
    z-index: 999;
    position: relative;
    background: #fff;
    padding:4%;
    color: #263238;
}
#profile-outer-container{
    margin-top: 2%;
}
#profile-details-container{
    padding: 1% 2%;
}
#profile-picture{
    margin-top:4%;
    height: 90%;
    width: 100%;
    background: #b0bec5;
}
#social-media-links-main-container{
    margin: 0 4%;
    padding: 2%;
    background: #00e676;
    z-index: 999;
    position: relative;
}
#hello-tag{
    margin-bottom: 18px;
}
#hello-tag span{
    background:#00e676;
    padding:5px 8px;
    border-radius:2px;
}
#think-box{
    margin:16px 0 0 5px;
    z-index: 99;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #00e676;
    border-right: 15px solid transparent;
}
#details-label{
    font-weight: bold;
    font-size: 12px;
}
#details-text{
    font-weight: 400;
    color:#b0bec5;
}
#details-label-on-vacation{
    font-weight: bold;
    font-size: 12px;
    color: #fff;
}
#details-label-on-vacation span{
    background:#00e676;
    padding:4px 4px;
    border-radius:2px
}
#basic-details-outer-container{
    background: #eceff1;
    margin-top: -126px;
    padding-top:126px;
}
#profile-age-container, #profile-address-container,
#profile-email-container, #profile-phone-container,
#profile-freelance-container, #profile-freelance-container{
    padding: 4px;
}
#download-resume{
    border: 1px solid #cfd8dc;
    border-bottom: none;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    font-weight: 600;
    color: #37474f;
}
#download-resume{
    cursor: pointer;
}
#contact-container{
    margin-right: 8px;
    background: #fff;
}
#contact-container form{
    font-size: 16px;
    margin: 8%;
    color:#37474f;
}
#address-container{
    margin-left: 8px;
    background: #fff;
}
.mdl-textfield{
    width: 100% !important;
}
.mdl-textfield__label{
    font-size: 14px;
}
.mdl-textfield__label:after{
    background-color: #00e676;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label{
    color: #00e676;
}
#map{
     height: 300px;
     width: 100%;
}
#address-main-container{
    margin: 8%;
}
#experience-card-left{
    background: #fff;
    border-top: 4px solid #00e676;
}
#experience-card-right{
    background: #fff;
    border-top: 4px solid #00e676;
}
#timeline-border{
    margin: 1% 3%;
    background: #b9f6ca;
    width: 3px;
}
#hello-tag{
    position: relative;
    background:#00e676;
    width: 50px;
    padding: 2px 4px;
    border-radius: 2px;
}
#hello-tag:before{
    content: "";
    top:90%;
    right:75%;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #00e676;
    border-right: 10px solid transparent;
}
#experience-card-right{
    margin-top: 14%;
 }
#experience-card-left,#experience-card-right {
    margin-bottom: 12%;
    border-top: 6px solid #00e676;
    width: 100%;
    height: 100%;
    background: #FFF;
    position: relative;
    -moz-border-radius:    2px;
    -webkit-border-radius: 2px;
    border-radius:         2px;
}
#experience-card-left:before {
    content:"";
    position: absolute;
    left: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 20px solid #fff;
    border-bottom: 30px solid transparent;
}
#experience-card-left:after{
    content:"";
    position: absolute;
    left: 110%;
    top: 50px;
    width: 14px;
    height: 10px;
    background:#00e676;
    -moz-border-radius:    100px;
    -webkit-border-radius: 100px;
    border-radius:         100px;
}
#experience-card-right:before {
    content:"";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 20px solid #fff;
    border-bottom: 30px solid transparent;
}
#experience-card-right:after{
    content:"";
    position: absolute;
    right: 110%;
    top: 50px;
    width: 14px;
    height: 10px;
    background:#00e676;
    -moz-border-radius:    100px;
    -webkit-border-radius: 100px;
    border-radius:         100px;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab{
    background: #00e676;
    width: 100px;
}
#timeline-year{
    padding: 12px 0;
    color: #00e676;
}
#timeline-title{
    padding: 6px 0;
    font-size: 22px;
    font-weight: 500;
    color:#37474f;
}
#timeline-post{
    font-size: 12px;
    padding: 6px 0;
    font-weight: 600;
    color: #78909c;
}
#timeline-description{
    font-size: 16px;
    padding: 2% 6% 6% 6%;
    text-align: left;
    color:#b0bec5;
}
#contact-label{
    font-weight: 600;
    color:#b0bec5;
    font-size: 14px;
}
#contact-text{
    font-weight: 600;
    color:#37474f;
    font-size: 14px;
}
.vertical-align-middle {
    vertical-align: middle;
}
#experience-left-card-container{
    margin-left: 14%;
}
@media screen and (max-width: 839px) {
    .mdl-layout__drawer-button{
        vertical-align: middle;
        top:20px;
        right: 60px;
    }
    #experience-card-right{
        margin-top: 0;
    }
    #timeline-border{
        display: none;
    }
    #experience-left-card-container{
        margin-left:0;
    }
    #experience-card-right:after{
        display: none;
    }
    #experience-card-left:after{
        display: none;
    }
    #experience-card-right:before{
        display: none;
    }
    #experience-card-left:before{
        display: none;
    }
}
@media screen and (max-width: 479px) {
    .mdl-layout__drawer-button {
        vertical-align: middle;
        top: 10px;
        right: 10px;
    }
    .mdl-layout-title{
        font-size: 16px;
    }
}
